<<<<<<< HEAD
ul li{
    list-style: none;
    display: inline;
}
.img_g:hover {
    cursor: pointer;
}
=======
ul li{
    list-style: none;
    display: inline;
}
.img_g:hover {
    cursor: pointer;
}
>>>>>>> 2cb224577d52773007fda23bdd4bd54f46a60516
